.blank-container {
    display:flex; 
    flex-direction: column;
    text-align:center;
    align-items:center;
    justify-content:center;
    background-color: rgba(94, 5, 97, 0.842);
    width: 100%;
    height: 95vh;
}

.blank-container img {   
    border-radius: 50%;
    height: 320px;
    width: 320px;
}

.blank-container p {
    color: white;
    font-size: xxx-large;
}