// Letters
$pLetter: 'PT Serif';
$letterMinSize: 16px;

// Colors
// $pColor: #2F103D;
$pColor: #303e7a;
$sColor: #F39651;

$pColorL: #6a97a1;
$pColorD: #1E0A27;

$sColorL: #E68B6A;
$sColorD: #D14A19;

$onLine: #38F909;
$offLine: #ECECEB;


// Buttons
$successButton: #158851;


.bg-primary{
    background-color: $pColor;
}

* {
    font-family: $pLetter !important;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

/* ===========================        INPUTS              =============================================*/



/* ===========================        LOGIN              =============================================*/

.login-form{
    
}

.login-logo{
    background-color: $pColor;
}

.login-input > *{
    color: black;
}

.login-icon{
    color: $pColor;
}

/* ===========================        CHAT              =============================================*/
/* ============================    CHAT HEADER       ============================================*/
.chat-header{
    height: 100%;
    min-width: 730px;

    .chat-header-content {
        border-bottom: 1px solid #ebe7fb;
        background-color: $pColor;
        padding: 0px 10px;
        vertical-align: middle;

        flex-grow: 1;
        max-width: 100%;
        border-right: 1px solid #ebe7fb;
    }

    .chat-header-buttons {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .chat-header-button{
            color: #ffff
        }
        
        .chat-header-button:hover {   
            color: $sColorL;
        }
    }

    .chat-header-name {
        font-size: 23px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;

        p {
            margin: 0;
        }

        span {
            font-size: 18px;
        }
    }

    .chat-header-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        p {
            margin: 0;
            font-weight: 600;
        }
    }

    .online-icon {
        background-color: $onLine;
        width: 12px;
        height: 12px;
        border: none;
        padding: 5px;
        display: inline-block;
        margin: 1px 5px;
        border-radius: 50%;
    }
}

.is-online {
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ddd;
    border-radius: 50%;
    border: 2px solid #fff;
}

.is-online.active {
    background-color: $onLine;
}

.online-span{
    text-align: left;
    color: #fff;
    margin: 0;
    font-weight: 600;
    display: table-cell; 
    vertical-align: middle;
}

/*========================   CHAT BODY       ====================================*/
.main-chat-content {
    flex-grow: 1;
    max-width: 100%;
    border-right: 1px solid #ebe7fb;
    height: 100%;

    padding: 20px 40px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
}
  
@keyframes showIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

/* ============================    CHAT FOOTER       ============================================*/
.chat-footer {
    background-color: $pColor;
    padding: 30px 470px 20px 20px;
    display: flex;
    justify-content: space-between;
    width:100%;
    max-width: 100%;
    height: 10%;
    position:fixed; 
    bottom: 0; 
    

    button {
        width: 36px;
        height: 36px;
        border: none;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        line-height: 36px;
        transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    }

    .chat-input-icon {
        font-size: 37px;
        padding: 10px 5px 0px 0px;
        color: white;
    }

    .chat-icon-send {
        font-size: 50px;
        padding: 15px 0px 3px 20px;
        color: white;
    }

    .chat-input-button:hover {
        transform: scale(1.1);
    }

    input {
        flex-grow: 1;
        padding: 12px 0px 12px 12px;
        background-color: white;
        border-radius: 10px;
        outline: none;
        color: black;
    }

    ::placeholder{
        color: black;
        opacity: 0.7;      
    }
      
    :-ms-input-placeholder{
        color: white;
    }
      
    ::-ms-input-placeholder{
        color: white;
    }
}

/*========================== CHAT ITEM =====================*/
.chat-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
    animation-name: showIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(
      0.88,
      0.19,
      0.37,
      1.11
    );
    animation-fill-mode: both;
    animation-delay: 0.2s;

    .avatar {
        margin-right: 0px;
        margin-left: 20px;
        background: #fff;
        padding: 1px;
    }
}

.chat-item-content {
    background-color: #4462ff;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 10px;
    max-width: 50%;
    min-width: 215px;

    .chat-meta {
        justify-content: space-between;
        display: flex;
        padding: 0px 0px 10px 0px;

        span {
            font-size: 14px;
            color: #e2e6f5;
            user-select: none;
        }
    }
}

.chat-item.other {
    flex-direction: row-reverse;
    transform-origin: left;

    .chat-item-content {
        background-color: #fff;
        color: #000;
        border-radius: 10px 10px 10px 0;
        max-width: 50%;

        .chat-meta span {
            color: #d1d1d1;
        }
    }

    .avatar {
        margin-right: 20px;
        margin-left: 0px;
    }
}
  
.chat-msg {
    user-select: none;
}

.chat-list-items {
    margin-top: 20px;
    overflow: auto;
    max-height: calc(100vh - calc(100vh / 2.2));
}

/* ===========================        MENU LATERAL              =============================================*/
//color menu lateral
.mini-drawer{ 
    width: 450px;
    flex-shrink: 0;
}


.mini-drawer-content {
    border-bottom: 1px solid #ebe7fb;
    width: 100%;
    padding: 2px 0px;
    height: 10%;
}

.mini-drawer-options {
    height: 100%;
}

.mini-drawer-options .MuiTabs-flexContainer {
    height: 100%;
}

.mini-drawer-chatlist {
    width: 100%;
    height: 100%;
}

.chatlist__heading {
    color: white;
    width: 100%;
    align-items: center;
    -webkit-box-orient: horizontal;
    display: flex;
    margin: 15px 0px;
  }

.divider-line {
    flex-grow: 1;
    background-color: white;
    height: 1px;
    position: relative;
    top: .1em;
}
  
.divider-content {
    color: white;
    flex-grow: 0;
    font-size: 18px;
    font-weight: 100;
    line-height: 15px;
    margin: 0 25px;
}

.mini-drawer-buttons {
    padding: 10px;
    margin-top: 10px;
}

.mini-drawer-current-chat {
    background-color: $pColor;
    height: 90%;
}

.mini-drawer-sections {
    display: flex;
    background-color: $pColorD;
    height: 10vh;
    width: 100%;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    button:hover{
        path{
            fill: $sColorL;
        }
        
    }
}

.mini-drawer-tabs {
    // height: 100%;
    width: 100%;
    background-color: $pColor;
}

.mini-drawer-tab {
    min-width: 50px;
    width: 50px;
}

.mini-drawer-user {
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 5px 10px 5px 15px;

    p {
        font-size: large;
        margin: 7px 10px;
        font-size: 25px;
    }

    .avatar {
        height: 70px;
        width: 70px;
        margin: 10px;
    }

    button {
        margin: 0px 10px;
        align-content: center;
        color: white;
        border-color: white;
        background-color: #d66565;
        padding: 2px 15px;
        border: 0;
    }
}

.mini-drawer .MuiPaper-root {
    overflow-x: hidden;
}

.close-session-button:hover {
    background-color: #FF7878;
}

.item-avatar-content {
    width: 60px;
    height: 60px;  
    margin-right: 10px;
    position: relative;
}
  
.item-avatar img {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;
    width: 85%;
    height: 85%;
    transform: translate(10%, 10%) 
}
  
.item-is-online {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    border-radius: 50%;
    border: 1px solid #fff;  
}

.item-is-online.active {
    background-color: #33ff00;
}
  

.mini-drawer-content, .mini-drawer-chatlist, .mini-drawer-buttons, .mini-drawer-sections {
    background-color: $pColor;
}

.blank-container {
    background-color: $pColorL;
}

.notfound-page {
    display:flex; 
    flex-direction: column;
    text-align:center;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background-color: $pColor;
}
  
.notfound-page img {   
    border-radius: 50%;
    height: 320px;
    width: 320px;
}
  
.notfound-page p {
    color: white;
    font-size: xxx-large;
}

// color button cerrar sección
.mini-drawer-user button {
    background-color: #d66565;
}

.chat-mini-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}

.chat-mini-time {
    font-size: 13px;
    padding-top: 6px;
    color: silver;
}

/* ===========================        AVATAR             =============================================*/
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    margin-right: 20px;
    position: relative;
}

.avatar-header {
    border-radius: 50%;
    overflow: hidden;
    width: 9vh;
    height: 9vh;
    min-width: 9vh;
    min-height: 9vh;
    position: relative;
}

.avatar img, .avatar-header img {
    max-width: 100%;
    object-fit: cover;
}
  
.avatar-img {
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/* ===========================        TOOLTIP              =============================================*/

/* Tooltip container */
.tooltip {
    position: relative;
    font-weight: bold
}
  
/* Tooltip text */
.tooltip-text {
    visibility: hidden; 
    position: absolute; 
    text-align: center;
    border-radius: 15px;
    z-index: 1;
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
    top: 100%;
    left: 50%; 
    width: 11vh;
    background-color: whitesmoke;
    color: black;
    margin-left: -45px;
}

/* ===========================        MODAL              =============================================*/
.modal {
    width: 200px;
    position: absolute;
    right: 0;
}

.modal-header {
    background-color: $pColor;
    text-align: center;
    color: white !important;
    padding: 5px;
    display: flex;

    h2 {
        display: flex;
        align-items: center;
    }

    svg {
        margin: 0px 10px;
    }

    h5 {
        display: inline-block;
    }
}

.modal-body {
    // background-color: $pColor;
    display: flex;
    flex-direction: column;
    ::placeholder {
        font-size: 18px;
        font-style: italic;
        color: black;
        opacity: 1;
    }

    .button {
        background-color: #35526F;
        color: #F1F2F3;
        display: inline-block;
        padding: 3px;
        width: 60%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0 !important;
        cursor: pointer;
    }

    p {
        display: inline-block;
        margin: 0;
    }
}

.modal-footer {
    justify-content: space-around;
}

/* ============================ MODAL CHAT DETAIL  ========================================*/

.base-modal{
    background-color: $pColor;   
    line-height: 118px;
    text-align: center;   
    overflow-x: hidden;
    height: 100%;
    width: 419px;
  }

.top-header{
    height: 13vh;
    min-height: 90px;
    background-color: #303e7a;
    color: #e6e5ea;
    box-shadow: 0px 10px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================ Chat Empresas  ========================================*/
.container-chat-empresa {
    background: $pColor;
    width: 100%;
    height: 100vh;
}

.report-form{
    background-color: $pColorL;
}

@media (max-width: 1200px) {
    .chat-header-content * {
        font-size: $letterMinSize !important;
    }

    .chat-header-name {
        padding: 0px 25px !important;
    }

    .online-spane {
        font-size: $letterMinSize - 3px !important;
    }

    .online-icon {
        width: 8px !important;
        height: 8px !important;
    }
}