// Letters
$pLetter: 'PT Serif';

// Colors
$pColor: #662483;
$sColor: #EE7043;

$pColorL: #D200F7;
$pColorD: #951b81;

$sColorL: #F39651;
$sColorD: #ED694C;



.bg-primary{
    background-color: $pColor;
}

* {
    font-family: $pLetter !important;
}

//color menu lateral 
.contentheader,
.main__chatlist,
.contentNewChat,
.MenuContent {
    background-color: $pColorD;
}

// color button cerrar secion
.contentDateHeader button {
    background-color: $sColorD;
}


